*{
    margin: 0px;
    padding: 0px;    
}

body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    font-family: "Raleway", sans-serif;
}

.head h3{
    color: rgb(230, 209, 125);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.head h2{
    color: rgb(225, 225, 225);
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 5rem;
}

.head{
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px
}
.head h1{
    color: wheat;
}
.link{
    margin-bottom: 120px;
}

.link ul{
    background-color: rgba(75, 49, 49, 0.714);
    height: 20px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.link ul li a{
    padding: 40px;
    transition: all 0.5s ;
    color: white;
    text-decoration: none;
}
.link ul li a:hover{
    color: rgb(109, 106, 106);
    transition: all 0.5s ;

}

.img1 img{
    position: relative;
    width: 600px;
    height: 500px;
    padding-left: 450px;
    padding-top: 200px;
    padding-bottom: 60px;
}

.first{
    position: absolute;
    background-color: rgb(243, 219, 187);
    width: 400px;
    height: 120px;
    padding-top: 60px;
    top: 57%;
    right: 13%;
    border-radius: 10px;
    padding-left: 100px;
}

h4{

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: medium;
}

span{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: xx-large;
    /* padding-left: 10px; */

}

.yazi1{
    background-color:  rgb(243, 219, 187);
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    top: 120%;
    left: 2%;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 200;
}

.img2 img{
    width: 600px;
    height: 500px;
    position: relative;
    padding-left: 450px;
    padding-top: 200px;
    padding-bottom: 60px;
}

.second{
    background-color:  rgb(243, 219, 187);
    position: absolute;
    width: 500px;
    height: 120px;
    padding-top: 80px;
    top: 170%;
    left: 6%;
    border-radius: 10px;
    padding-left: 100px;
    font-size: larger;
}

.yazi2{
    background-color:  rgb(243, 219, 187);
    position: absolute;
    width: 400px;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: 220%;
    right: 8%;
    height: 150px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 200;
}

.img3 img{
    width: 600px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    padding-left: 450px;
    padding-top: 200px;
    padding-bottom: 60px;
}

.third{
    background-color:  rgb(243, 219, 187);
    position: absolute;
    width: 600px;
    height: 100px;
    padding-left: 100px;
    padding-top: 80px;
    top: 265%;
    right: 2%;
    border-radius: 10px;
    font-size: larger;
}

.yazi3{
    background-color:  rgb(243, 219, 187);
    position: absolute;
    width: 500px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: 330%;
    left: 5%;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 200;
    
}

footer p{
    background-color: rgba(53, 33, 7, 0.980);
    height: 60px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-top: 60px;
}