*{
    margin: 0px;
    padding: 0px;    
}

body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    font-family: "Raleway", sans-serif;
}

.head h3{
    color: rgb(230, 209, 125);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.head h2{
    color: rgb(225, 225, 225);
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 5rem;
}

.head{
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* padding-bottom: 50px; */
}
.head h1{
    color: wheat;
}

.link{
    margin-bottom: 120px;
}

.link ul{
    background-color: rgba(75, 49, 49, 0.714);
    height: 20px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.link ul li a{
    padding: 40px;
    transition: all 0.5s ;
    color: white;
    text-decoration: none;
}
.link ul li a:hover{
    color: rgb(109, 106, 106);
    transition: all 0.5s ;

}


.main{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 178, 78, 0.903);
    height: 530px;
    padding-top: 80px;
}

.kvadrat{
    width: 800px;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fbe6cb;
    margin-left: 350px;
    padding: 20px;
}
.list{
    display: flex;
    padding-left: 150px;
    font-size: medium;
    font-weight: 500;
   font-style: italic;
}


ul{
    padding-left: 100px;
    list-style-type: none;
}


.soz{
    width: 800px;
    height: 250px;
    background-color: rgb(251, 242, 229);
    position: absolute;
    margin-left: 400px;
    border-radius: 5px;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    top: 190%;
}

.sekil img{
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    padding-left: 200px;
    padding-top: 20px;
}

.about {
    background-color: antiquewhite;
    position: absolute;
    width: 900px;
    margin-left: 350px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    top: 90%; 
    font-size: small;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer p{
    background-color: rgba(53, 33, 7, 0.980);
    height: 60px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    margin-top: 60px;
}